@import "variables";
@import "mixins";

.ngx-notify-container {
    position: fixed;
    width: 100%;
  
    .ngx-notify-content {
      position: relative;
      margin: $ngx-notify-content-margin;
      padding: $ngx-notify-content-padding;
      border: 1px solid transparent;
      border-radius: $ngx-notify-border-radius;
      display: flex;
      align-items: center;
    }
  
    .fade-out {
      animation: fadeOut linear;
      -webkit-animation: fadeOut linear;
      -moz-animation: fadeOut linear;
      -o-animation: fadeOut linear;
      animation-fill-mode: forwards;
    }
  
    .ngx-notify-close {
      cursor: pointer;
      display: flex;
      margin-left: auto;
            
      .ngx-notify-close-default-icon {
        width: $ngx-notify-close-icon-width;
        height: $ngx-notify-close-icon-height;
        background: url("../icons/close.svg") no-repeat;
      }
    }
  }
  
  @include ngx-notify-style(
    "success",
    (
      "color": $ngx-notify-success100,
      "background": $ngx-notify-success10,
      "border": $ngx-notify-success05
    )
  );
  
  @include ngx-notify-style(
    "danger",
    (
      "color": $ngx-notify-danger100,
      "background": $ngx-notify-danger10,
      "border": $ngx-notify-danger05
    )
  );
  
  @include ngx-notify-style(
    "warning",
    (
      "color": $ngx-notify-warning100,
      "background": $ngx-notify-warning10,
      "border": $ngx-notify-warning05
    )
  );
  
  @include ngx-notify-style(
    "info",
    (
      "color": $ngx-notify-info100,
      "background": $ngx-notify-info10,
      "border": $ngx-notify-info05
    )
  );

  @include ngx-notify-position('top');
  @include ngx-notify-position('bottom');
  
  @keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-moz-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-webkit-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-o-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-ms-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  