@import "variables";
@import "mixins";

.ngx-notify-container {
    position: fixed;
    width: 100%;
  
    .ngx-notify-content {
      position: relative;
      margin: .75rem 1rem;
      padding: .75rem 1.25rem;
      border: 1px solid transparent;
      border-radius: .25rem;
      display: flex;
      align-items: center;
    }
  
    .fade-out {
      animation: fadeOut linear;
      -webkit-animation: fadeOut linear;
      -moz-animation: fadeOut linear;
      -o-animation: fadeOut linear;
      animation-fill-mode: forwards;
    }
  
    .ngx-notify-close {
      cursor: pointer;
      display: flex;
      margin-left: auto;
      width: 20px;
      height: 20px;
      // background: url("../../assets/icons/close.svg") no-repeat;
    }
  
    .ngx-notify-close.ngx-notify-hidden {
      display: none;
    }
  }
  
  @include ngx-notify-style(
    "success",
    (
      "color": $success100,
      "background": $success10,
      "border": $success05
    )
  );
  
  @include ngx-notify-style(
    "danger",
    (
      "color": $danger100,
      "background": $danger10,
      "border": $danger05
    )
  );
  
  @include ngx-notify-style(
    "warning",
    (
      "color": $warning100,
      "background": $warning10,
      "border": $warning05
    )
  );
  
  @include ngx-notify-style(
    "info",
    (
      "color": $info100,
      "background": $info10,
      "border": $info05
    )
  );

  @include ngx-notify-position('top');
  @include ngx-notify-position('bottom');
  
  @keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-moz-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-webkit-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-o-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-ms-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  